@charset "utf-8";

/*
Project V2 - Basic HTML and CSS

Author: Zane Adams
Date: 2/4/2021
*/

html {
    /*M2LO15 Apply colors using CSS*/
    background-color: rgb(91, 91, 91);
    font-family: 'Source Code Pro', monospace;
}

/*M2LO3 Demonstrate style precedence and inheritance in CSS/*/
body {
    color: black;
}

/*M2LO5 Demonstrate contextual selectors*/
header > h1 {
   font-size: 35px;
   line-height: 60%;
   margin: 10px;
}

/*M2LO11 Demonstrate a pseudo-classes and a pseudo-element selector*/
header h1::first-letter {
    font-size: 45px;
}

/*M2LO3 Demonstrate style precedence and inheritance in CSS/*/
nav {
    background-color: grey;
    /*M2LO13 Demonstrate how CSS can change presentation of textual elements*/
    text-align: center;
}

nav ul {
    font-size: 200%;
    padding: 20px;
}

/*M2LO5 Demonstrate contextual selectors*/
a {
    color: white;
    text-decoration: none;
}

li {
    /*M2LO12 Demonstrate how CSS can change presentation of page element*/
    list-style-type: none;
    display: inline;
    font-size: 20pt;
    padding: 10px;
    padding-right: 50px;
}

/*M2LO11 Demonstrate a pseudo-classes and a pseudo-element selector*/
nav a:visited, nav:link {
    background-color: grey;
 }
 
nav:active, nav a:hover {
    /*
    M2LO14 Demonstrate and explain the use of progressive enhancement in CSS
    Older browsers may not recognize hsl color values and ignore them, I put a similiar
    rgb value in just in case hsla gets ignored.
    https://www.rapidtables.com/convert/color/hsl-to-rgb.html - this website helped me covert them.
    */
    background-color: rgb(107, 107, 107);
    background-color: hsla(0, 0%, 42%, 0.8);
}

address {
    font-style: normal;
    font-size: 0.9em;
    text-align: center;
}

/*M2LO6  Demonstrate a CSS id and a CSS class selector*/
section.welcome {
    text-align: center;
    font-size: 15pt;
}

/*M2LO6  Demonstrate a CSS id and a CSS class selector*/
section#about {
    text-align: center;
}

section#about li{
    display: list-item;
}